.music-data-page {
    min-width: 90vw;
    max-width: 95vw;
    min-height: 100vh;
    overflow: visible;
}

.initiate-swap-button {
    margin-top: 20px;
    margin-bottom: 40px;
}

.select-all {
    display: flex;
    flex-direction: row;
    gap: 10px;
}