.music-data-page {
    min-width: 90vw;
    max-width: 95vw;
    min-height: 100vh;
    overflow: visible;
}

.initiate-swap-button {
    font-size: 15px;
    margin-bottom: 10px;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    color: black;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue);
    background-size: 200% auto;
    animation: rainbow-animation 5s ease-in-out infinite;
    text-shadow: 2px 2px 4px rgba(244, 239, 239, 0.6);
}

.select-all {
    display: flex;
    flex-direction: row;
    gap: 10px;
}