.button {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    background-color: transparent;
    transition: transform 0.1s ease-in-out;
}

.button.notClicked:hover {
    transform: scale(1.3);
}

.button:hover {
    transform: scale(1.3);
}

.button:active {
    transform: scale(0.9);
}

.button.clicked {
    background-color: aliceblue;
    transform: scale(1.15);
}

.button.notClicked {
    transform: scale(1);
}

.button-image {
    width: 32px;
    height: 32px;
    margin-right: 8px;
}

.button-text {
    font-size: 14px;
    font-weight: 500;
    color: #333;
}