.streaming-service-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    min-height: 100%;

    overflow: scroll;
    background-color: bisque;
}

.title {
/* font-size: 2rem; */
    font-weight: bold;
    margin-top: 30px;
}

.title h1 {
    max-width: 100%;
    max-height: 100%;
}

.button-column-container {
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-top: 2rem;
}

.button-column-container div {
    max-width: 100%;
    max-height: 100%;
}

.button-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1.5rem;
}

.text-block {
    margin-top: 1rem;
    width: 80%;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.rainbow-button {
    font-size: 18px;
    padding: 12px 22px;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    color: black;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    background-size: 200% auto;
    animation: rainbow-animation 3s ease-in-out infinite;
    text-shadow: 2px 2px 4px rgba(244, 239, 239, 0.6);
}

.rainbow-button.hide {
    visibility: hidden
}
  
@keyframes rainbow-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
  }