.search-bar {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 20px;
    padding: 5px;
    margin-top: 10px;
    overflow: hidden;
}

.search-icon {
    margin-right: 10px;
}

.search-input {
    flex-grow: 1;
    border: none;
    outline: none;
    background-color: transparent;
}

/* Adjust the layout for smaller screens */
@media (max-width: 400px) {
    .search-input {
        /* prevent zoom on search bar click on mobile */
        font-size: 16px;
    }
}