.albumContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
}

.albumContainer input[type="checkbox"] {
    margin-right: 1em;
    margin-left: 0;
    width: 15px;
    height: 15px;
    box-sizing: border-box;
    min-width: 15px;
    min-height: 15px;
}

.albumImage {
    height: 60px;
    width: 60px;
    object-fit: cover;
    margin-right: 0.5em;
}

.albumInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    overflow: hidden;
}

.albumInfo h3,
.albumInfo p {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.albumInfo h3 {
    font-size: 1em;
    color: #000;
}