.from-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    min-height: 100%;

    overflow: hidden;
    background-color: bisque;
}

.title {
    font-weight: bold;
    margin-top: 30px;
}

.text-block {
    margin-top: 1rem;
    width: 80%;
    /* font-weight: bold; */
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.5rem;
}